.navbar {
    background: linear-gradient(to right, #007b33, #00a84a, #00a84a, #007b33, #0d6d2d);
    position: fixed;
    width: 100%;
    height: 15%;
    z-index: 1000;
}

.navbar-brand img {
    filter: brightness(0) invert(1);
}

.navbar-toggler-icon {
    background-color: #fff;
}

.navbar-nav .nav-link {
    color: #fff !important;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #ffa500 !important;
}
.opciones{
    margin-right: 62px;
}

body {
    margin: 0;
    padding: 0;
    color: #01421d;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding-top: 60px;
}

.footer-container {
    background: linear-gradient(to right, #007b33, #00a84a, #00a84a, #007b33, #0d6d2d);
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.footer-section {
    flex: 1;
}

.social-icon {
    color: #fff;
    margin-right: 10px;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

main {
    padding-top: 100px;
}
img {
    padding-left: 60px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    width: 400px;
    padding: 40px;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    color: #343a40;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    height: 40px;
}

.btn-primary {
    background-color: #007b4a;
    border-color: #007b4a;
}

.btn-primary:hover {
    background-color: #005629;
    border-color: #005629;
}
/* styles.css */

h2 {
    color: #333; 
    font-size: 24px; 
    text-align: center; 
    margin-top: 20px; 
}

#carouselExampleInterval {
    max-width: 800px; 
    margin: 0 auto; 
}

.carousel-inner img {
    width: 100%; 
    height: auto; 
}
